/* ----- We will use Flexbox styling ----- */

/* ----- General styles ----- */
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  padding-top: 70px;
}
/* ----- Components styles ----- */

/* HEADER */
.header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1000;
}
.h1-header{
  margin: 0;
  color: rgb(41, 41, 255);
}
.navbar-header{
  display: flex;
}
.ul-header{
  list-style: none;
  display: flex;
  color: white;
}
.ul-header li{
  margin-right: 15px;
  cursor: pointer;
}
.ul-header li:hover{
  color: #ffd700;
}
/*----------------------*/

/* HERO */
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.h1-hero{
  font-size: 50px;
}
.p-hero{
  font-size: 20px;
}
/*----------------------*/

/* MAIN */
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.p-main{
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}
.templatecard{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/*----------------------*/

/* CARDS */
.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
.cards:hover{
  transform: scale(1.05);
  z-index: 2;
}
.card-image{
  width: 400px;
  height: 200px;
  object-fit: cover;
}
.card-title{
  padding: 10px;
  font-size: 22px;
  text-align: center;
  margin: 0;
}
.card-description{
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.cards:hover,
.cards:hover .card-title,
.cards:hover .card-description {
    cursor: pointer;
}
/*----------------------*/

/* CONTACT */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.h2-contact{
  font-size: 30px;
}
.p-contact{
  font-size: 20px;
  text-align: center;
  color: blue;
}
.form-contact{
  display: flex;
  flex-direction: column;
}
.label-contact{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.input-contact, .textarea-contact{
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.textarea-contact{
  height: 150px;
  resize: vertical;
}
.btn-contact{
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.btn-contact:hover {
  background-color: #555;
}
/*----------------------*/


/* ----- Medias querys ----- */
@media (max-width: 767px) {
  /* Header */
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Hero */
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h1-hero{
    text-align: center;
  }
  .p-hero{
    text-align: center;
  }
}

