/* ----- We will use Flexbox styling ----- */

/* ----- General styles ----- */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ----- Components styles ----- */

/* HEADER */
.header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #333;
  color: white;
  width: 100%;
}
.h1-header{
  margin: 0;
}
.navbar-header{
  display: flex;
}
.ul-header{
  list-style: none;
  display: flex;
}
.ul-header li{
  margin-right: 15px;
  cursor: pointer;
}
.ul-header li:hover{
  color: #ffd700;
}
/*----------------------*/

/* HERO */
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.h1-hero{
  font-size: 50px;
}
.p-hero{
  font-size: 20px;
}
/*----------------------*/

/* MAIN */
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-main{
  font-size: 40px;
}
/*----------------------*/

/* ----- Medias querys ----- */
@media (max-width: 767px) {
  /* Header */
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Hero */
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h1-hero{
    text-align: center;
  }
  .p-hero{
    text-align: center;
  }
}

